body {
  background: lavender;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: lavender;
  overflow: auto;
}

header h1 {
  color: blue;
  width: 100%;
  text-align: center;
}

header nav {
  width: 100%;
  text-align: center;
}

main {
  background: lavender;
  overflow: auto;
  font-family: courier;
}

main h2{
  text-align: center;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

.contact{
  width: 70%;
  font-size: small;
  float: right;
}

.sitemap{
  width: 30%;
  font-size: small;
}

footer .left {
  float: left;
  width: 570px;
}
